.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .btn-primary{
        background-color: $coloruno;
        border: 1px solid $colortres;
        color: $colortres;
        &:hover{
            background-color: $colortres;
            color: $coloruno;
            border: 1px solid $colortres;
        }
    }
}