header{
    height: 100px;
    background-color: $colortres;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    .container__header{
        max-width: 100vw;
        height: 100%;
        margin: auto;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center ;
        .logo{
            img{
                width: 100%;
            }
        }
        .menu{
            nav{
                ul{
                    display: flex;
                    li{
                        list-style: none;
                        padding: 0 20px;
                        a{
                            text-transform: uppercase;
                            text-decoration: none;
                            color: $coloruno;
                        }
                    }
                }
            }
            .nav{
                *{
                    box-sizing: border-box;
                    transition: all .35s ease;
                }
                a{
                    padding: .5em .8em;
                    color: $coloruno;
                    position: relative;
                    text-decoration: none;
                    font-size: 16px;
                    &::before,
                    &::after{
                        content: '';
                        height: 14px;
                        width: 14px;
                        position: absolute;
                        transition: all .35s ease;
                        opacity: 0;
                    }
                    &::before{
                        content: '';
                        right: 0;
                        top: 0;
                        border-top: 1px solid $coloruno;
                        border-right: 1px solid $coloruno;
                        transform: translate(-100%, 50%);
                    }
                    &:after{
                        content: '';
                        left: 0;
                        bottom: 0;
                        border-bottom: 1px solid $coloruno;
                        border-left: 1px solid $coloruno;
                        transform: translate(100%, -50%)
                    }
                    &:hover:before,
                    &:hover:after{
                        transform: translate(0,0);
                        opacity: 1;
                    }
                    &:hover{
                        color: $colorhover;
                    }
                }
            }
        }
        .btn__header-contacto{
            text-transform: uppercase;
            padding: 14px 40px;
            border: none;
            background-color: $coloruno;
            color: #000;
            font-weight: 500;
            font-size: 15px;
            cursor: pointer;
            transition: background, color, 300ms;
            border-radius: 2px;
            &:hover{
                background: $colordos;
                color: $coloruno;
            }
        }
    }
}

@media screen and (max-width: 800px){
    header{
        width: 100%;
        .logo{
            display: none;
        }
        .container__header{
            flex-direction: row;
            justify-content: center;
            padding: 0;
            margin: 0;
            font-size: 10px;
            .menu{
                nav{
                    ul{
                        li{
                            a{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
        .header__contacto{
            padding-right: 40px;
        }
    }
}